[Desktop Entry]
Type=Application
Name=mochi
GenericName=Mochi Cards
Comment=Mochi Cards
TryExec=mochi
Exec=mochi
Icon=org.gnome.clocks
Categories=System
Terminal=false
